/*
 * Акценты в коде, метод через точку, класс через ::, () {} &
 */
.ͼ11 {
    color: #cccccc;
}

/*
 * Обычный код: методы, функции, переменные, void.
 */
.ͼt {
    color: #666666;
}

/*
 * Строки в кавычках вероятно для Java
 */
.ͼr {
    color: #6aAA55;
}

/*
 * Строки в кавычках вероятно для C++
 */
.ͼz {
    color: #6aAA55;
}

/*
 * Ключевые слова и операторы.
 * Например: if, else, return, case, ==, !, !=, &&, >, >=, <, <=, switch, static, const, auto.
 */
.ͼn {
    color: #569cd6;
}

/*
 * Комментарии и документация.
 */
.ͼl {
    color: #6a9955;
}

/*
 * nullptr.
 */
.ͼq {
    color: #b5cea8;
}

/*
 * Директивы препроцессора.
 * Например: #include, #define, #ifndef, #endif.
 */
.ͼm {
    color: #c586c0;
}

/*
 * Общий цвет текста вне token-классов CodeMirror.
 */
.text-primary {
    color: #cccccc;
}